<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" >
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ _('Defend yourself against tracking and surveillance. Circumvent censorship.') }} | {{ this.title }}">
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@torproject" />
<meta name="twitter:creator" content="@torproject" />
<meta name="twitter:image" content="https://www.torproject.org/static/images/tor-project-logo-onions.png"/>
<meta property="og:url" content="https://torproject.org" />
<meta property="og:title" content="{{ _('The Tor Project | Privacy &amp; Freedom Online') }}" />
<meta property="og:description" content="{{ _('Defend yourself against tracking and surveillance. Circumvent censorship.') }}" />
<meta property="og:image" content="https://www.torproject.org/static/images/tor-project-logo-onions.png" />
<link rel="stylesheet" href="{{ '/static/css/bootstrap.css'|asseturl }}">
<link rel="stylesheet" href="{{ '/static/fonts/fontawesome/css/all.min.css'|asseturl }}" rel="stylesheet">
<!-- Standard favicon -->
<link rel="icon" type="image/x-icon" href="https://www.torproject.org/static/images/favicon/favicon.ico">
<!-- Recommended favicon format -->
<link rel="icon" type="image/png" href="https://www.torproject.org/static/images/favicon/favicon.png">
<title>{{ _("Tor Project") }} | {% block title %}{{ this.title }}{% endblock %}</title>
<!-- 404 code started -->
<body class="bg-darker">
    <div class="page bg-darker">
    <div class="container-fluid bg-darker">
        <div class="container bg-darker pt-5">
            <div class="row">
              <!-- Update image path -->
              <img class="mx-auto p-5" src="{{ '/static/images/404.png'|asseturl }}" alt="404">
            </div>
            <div class="row">
                <h3 class="mx-auto p-3 text-center text-white">oops, something is missing.</h3>
            </div>
            <div class="row">
                <p class="mx-auto p-3 text-center text-white">The page you requested does not exist. Maybe it has been removed or deleted or you made a typo when copy/pasting or typing it. If you think this is a mistake you can <mark><a href="https://support.torproject.org/misc/bug-or-feedback/">report it here</a></mark>.</p>
            </div>
            <div class="row col-12 p-5 mx-auto justify-content-center">
                <a class="btn btn-lg btn-outline-light" href="https://www.torproject.org/">Go to website<i class="ml-2 pt-1 fas fa-arrow-right"></i></a>
            </div>
        </div>
      </div>
    </div>
</body>
</html>
